body {
    margin: 0;
}

/* page divisons */

.container {
    display: flex;
    min-height: 100vh;
}

.page_margin {
    background-color: rgb(203, 174, 129);
    flex: auto;
}

.page_body {
    font-family: "Montserrat", "Roboto", sans-serif;
    width: 80%;
    min-width: 700px;
    margin: 0 auto;
    background-color: white;
    text-align: center;
    flex: auto;
}


/* basic in-built paragraphs and headings */

h1, h2, h3 {
    font-family: "Josefin Slab", "Garamond", serif;
    font-size: 30px;
}

p {
    font-size: 16px;
}

img {
    width: 500px;
    height: auto;
}

/* generic text types */

.title {
    font-size: 60px;
}

.code {
    font-family: "Consolas", monospace;
    margin: auto;
    width: 70%;
    background-color: rgba(211, 211, 211, 0.66);
}