/* font-y stuff */

h1, h2, h3, p, a {
    font-family: "Josefin Slab", "Garamond", serif;
    /*font-family: "Consolas", monospace;*/
}

h1.title {
    font-size:70px;
    margin: 0;
    color: rgb(255, 62, 255);
    text-shadow: pink 0 0 10px;
    text-align: center;
}

img {
    width: 500px;
    height: auto;
}

a {
    text-decoration: none;
    color: black;
}

/* meat-y stuff */

body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 25%;
    background-color: rgb(91, 91, 91);
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.left-buttons, .right-buttons {
    display: flex;
    gap: 15px;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.footer {
    display: flex;
    justify-content: center;
}

a.button, a.mega-button {
    font-size: 32px;
    border-radius: 20px;
    background-color: rgb(231, 42, 219);
    padding: 10px;
    margin: 10px;
}

a.mega-button {
    font-size: 50px;
    margin: 0px;
}
